.react-pdf__Page__canvas {
    max-height: 75vh;
    max-width: 30vw;
}

.file-list-btn {
    max-width: 7%
}

@media only screen and (max-width: 600px) {
    .react-pdf__Page__canvas {
        max-width: 90vw;
        max-height: 60vh;
    }
    .modal {
        max-height: 90vh;
    }
    .file-list-btn {
        max-width: 15%;
    }
}